
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/python.iml
Lib/
Lib/site-packages/__pycache__/easy_install.cpython-37.pyc
Lib/site-packages/easy_install.py
Lib/site-packages/pip-19.0.3.dist-info/entry_points.txt
Lib/site-packages/pip-19.0.3.dist-info/INSTALLER
Lib/site-packages/pip/__init__.py
Lib/site-packages/pip-19.0.3.dist-info/WHEEL
Lib/site-packages/pip-19.0.3.dist-info/top_level.txt
Lib/site-packages/pip-19.0.3.dist-info/RECORD
Lib/site-packages/pip-19.0.3.dist-info/METADATA
Lib/site-packages/pip-19.0.3.dist-info/LICENSE.txt
pyvenv.cfg
Scripts/
.idea/misc.xml
hello-world/__pycache__/hello_world_test.cpython-37-PYTEST.pyc
two-fer/.exercism/metadata.json
robot-name/.exercism/metadata.json
